---
import Layout from "../layouts/Layout.astro";
import { coaches } from "../components/Coaches.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return coaches.map((coach) => {
    return {
      params: { coach: coach.href },
      props: { coachData: coach },
    };
  });
}

const { coach } = Astro.params;
const { coachData } = Astro.props;
---

<Layout title={coach || "Coaches Page"}>
  <div class="bg-white pb-16 pt-48 sm:pb-24 sm:pt-48 xl:pb-32">
    <div class="bg-gray-900 pb-20 sm:pb-24 xl:pb-0">
      <div
        class="mx-auto flex max-w-7xl flex-col items-center gap-x-8 gap-y-10 px-6 sm:gap-y-8 lg:px-8 xl:flex-row xl:items-stretch"
      >
        <div class="-mt-8 w-full max-w-2xl xl:-mb-8 xl:w-96 xl:flex-none">
          <div
            class="relative aspect-[2/1] h-full md:-mx-8 xl:mx-0 xl:aspect-auto"
          >
            <Image
              class="absolute inset-0 h-full w-full rounded-2xl bg-gray-800 object-cover shadow-2xl"
              src={coachData.imageSrcAction}
              alt={coachData.title}
              quality={1}
              loading={"eager"}
            />
          </div>
        </div>
        <div
          class="w-full max-w-2xl xl:max-w-none xl:flex-auto xl:px-16 xl:py-24"
        >
          <figcaption class="mt-8 text-base">
            <div class="font-semibold text-white">
              {coachData.title}
            </div>
            <div class="mt-1 text-gray-400">
              {coachData.role}
            </div>
          </figcaption>
          <figure class="relative isolate pt-6 sm:pt-12">
            <blockquote
              class="text-xl font-semibold leading-8 text-white sm:text-md sm:leading-9"
            >
              {coachData.body}
            </blockquote>
          </figure>
        </div>
      </div>
    </div>
  </div>
</Layout>
