---
import Layout from "../layouts/Layout.astro";
import { teamMembers } from "./Team.astro";
import { Image } from "astro:assets";
interface TeamMember {
  name: string;
  role: string;
  grade: string;
  image: ImageMetadata;
}

export async function getStaticPaths({ paginate }: { paginate: any }) {
  // Assume you want to display 8 members per page.
  return paginate(teamMembers, { pageSize: 8 });
}
const { page } = Astro.props;
---

<Layout title="Dancers">
  <div class="bg-gray-100 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl">
        Meet the team
      </h2>
      <ul
        class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-14 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 xl:grid-cols-4"
      >
        {
          page.data.map((member: TeamMember) => (
            <li>
              <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-xl bg-gray-200 focus-within:ring-2 focus-within:ring-green8 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                <Image
                  src={member.image}
                  alt={member.name}
                  class="h-auto w-full  pointer-events-none object-cover transition-transform duration-500 group-hover:scale-105"
                  quality={1}
                  loading={"eager"}
                />
              </div>
              <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-black">
                {member.name}
              </h3>
              <p class="text-base leading-7 text-black">{member.role}</p>
              <p class="text-sm leading-6 text-black">{member.grade}</p>
            </li>
          ))
        }
      </ul>
      <div>
        {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
        {page.url.next ? <a href={page.url.next}>Next</a> : null}
      </div>
    </div>
  </div>
</Layout>
