---
import Layout from "../layouts/Layout.astro";
import EllieActionshot from "../assets/actionshots/ellie-harrison-actionshot.webp";
import HayleeActionshot from "../assets/actionshots/haylee-lopez-actionshot.webp";
import MarinaActionshot from "../assets/actionshots/marina-allen-actionshot.webp";
import BrynleeActionshot from "../assets/actionshots/brynlee-harrison-actionshot.webp";
import TessaActionshot from "../assets/actionshots/tessa-smith-actionshot.webp";
import Schedule from "../components/AuditionSchedule.astro";
import PhotoCarousel from "../components/PhotoCarousel/PhotoCarouselImage.astro";
import PhotoCarouselContainer from "../components/PhotoCarousel/PhotoCarouselContainer.astro";
import EventsTimeline from "../components/EventsTimeline.astro";
import CardLink from "../components/cardLink.astro";

const events = [
  {
    day: 25,
    month: "MAR 2025",
    title: "Drill Audition Clinic",
    description: "5:00-9:00pm in the Maroon Gym",
  },
  {
    day: 26,
    month: "MAR 2025",
    title: "Drill Team Auditions",
    description: "5:00-9:00pm in the Maroon Gym",
  },
  {
    day: 7,
    month: "APR 2025",
    title: "Spring Training Begins",
    description: "April 7 - May 13 A Day Mornings 6:30-7:20AM",
  },
  {
    day: 9,
    month: "MAY 2025",
    title: "Routine Audition Day",
    description: "Routine auditions for team placement",
  },
  {
    day: 14,
    month: "MAY 2025",
    title: "Home Routine Choreography",
    description: "Learning home routine choreography",
  },
  {
    day: 18,
    month: "MAY 2025",
    title: "Moratorium",
    description: "No Practice May 18-31",
  },
  {
    day: 11,
    month: "JUN 2025",
    title: "Epic Drill Camp",
    description: "June 11-13 Epic Drill Camp in St. George",
  },
  {
    day: 19,
    month: "JUN 2025",
    title: "State Routine Choreography",
    description: "June 19-20 First state routine choreography session",
  },
  {
    day: 26,
    month: "JUN 2025",
    title: "State Routine Choreography",
    description: "June 26-27 Second state routine choreography session",
  },
  {
    day: 30,
    month: "JUN 2025",
    title: "Summer Moratorium",
    description: "No Practice June 30 - July 26",
  },
  {
    day: 29,
    month: "JUL 2025",
    title: "Golf Tournament Fundraiser",
    description: "Annual fundraising event",
  },
  {
    day: 31,
    month: "JUL 2025",
    title: "State Routine Choreography",
    description: "July 31 - August 1 Final state routine choreography session",
  },
  {
    day: 4,
    month: "AUG 2025",
    title: "Champion Week",
    description: "August 4-9 Champion Week activities and preparation",
  },
];

const dancers = [
  {
    ImageSrc: EllieActionshot,
    ImageAlt: "Ellie Harrison Action Shot",
  },
  {
    ImageSrc: HayleeActionshot,
    ImageAlt: "Haylee Lopez Action Shot",
  },
  {
    ImageSrc: MarinaActionshot,
    ImageAlt: "Marina Allen Action Shot",
  },
  {
    ImageSrc: BrynleeActionshot,
    ImageAlt: "Brynlee Harrison Action Shot",
  },
  // {
  //   ImageSrc: TessaActionshot,
  //   ImageAlt: "Tessa Smith Action Shot",
  // },
];
---

<Layout title="Auditions">
  <div class="container px-5 mx-auto">
    <div class="pt-24">
      <PhotoCarouselContainer>
        {
          dancers.map((dancer) => (
            <PhotoCarousel
              ImageSrc={dancer.ImageSrc}
              ImageAlt={dancer.ImageAlt}
            />
          ))
        }
      </PhotoCarouselContainer>
    </div>
    <div class="relative bg-white">
      <div class="text-center">
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
        >
          2025-2026 Audition Information
        </p>

        <div class="mt-20">
          <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
            <CardLink
              title="Audition Application"
              href="https://docs.google.com/forms/d/e/1FAIpQLSeBnViHzJTqpbGqo2VhNqSmTOefU9V4YBIMpSczC-bZObFq4Q/viewform"
            />
            <CardLink
              title="Teacher Recommendation Form"
              href="https://docs.google.com/forms/d/e/1FAIpQLSf1H3HgpHtK7MTJkRiz79We10UyQ7VkEjWPV-VBVS0Ec3L92A/viewform"
            />
            <CardLink
              title="Drill Team Constitution & Policies"
              href="https://docs.google.com/document/d/1VQAI0T4k7SPqXaSZ5uEh3XXEb9UtQMjyeXRnmZUWiQk/edit"
            />
            <CardLink
              title="Absence & Demerit Policy"
              href="https://docs.google.com/document/d/1iYcOT4oT67FJVoY5dyw_3x5ZbOwsRnx_-hkbbJ_wkzI/edit#heading=h.suawozawez0m"
            />
            <CardLink
              title="Audition Packet"
              href="https://www.canva.com/design/DAFbI3Ibwn0/X02Ojsi9spcB3HfjqWu4Xw/edit"
            />
          </div>
        </div>
      </div>
    </div>

    <Schedule />
    <div class="sm:mt-5 pb-10">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          PLAN AHEAD for the 2025-2026 Drill Year
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          *Dates and times are subject to change based on choreographer & gym
          availability
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          **Summer Practice Schedule: - Mondays: 5:00-8:00pm - Tuesday &
          Wednesday: 7:00-10:00am
        </p>
        <p class="mt-4 text-lg leading-8 text-red-600">
          Important: Mandatory Parent Meeting - Date TBD New Team Meeting - Date
          TBD (March 27 or April 7)
        </p>
      </div>
      {
        events.map((event) => (
          <EventsTimeline
            day={event.day}
            month={event.month}
            title={event.title}
            description={event.description}
          />
        ))
      }
    </div>
  </div>
</Layout>
