---
import Layout from "../layouts/Layout.astro";
import EllieActionshot from "../assets/actionshots/ellie-harrison-actionshot.webp";
import HayleeActionshot from "../assets/actionshots/haylee-lopez-actionshot.webp";

import MarinaActionshot from "../assets/actionshots/marina-allen-actionshot.webp";
import BrynleeActionshot from "../assets/actionshots/brynlee-harrison-actionshot.webp";
import TessaActionshot from "../assets/actionshots/tessa-smith-actionshot.webp";
import Schedule from "../components/AuditionSchedule.astro";
import PhotoCarousel from "../components/PhotoCarousel/PhotoCarouselImage.astro";
import PhotoCarouselContainer from "../components/PhotoCarousel/PhotoCarouselContainer.astro";
import EventsTimeline from "../components/EventsTimeline.astro";

const events = [
  {
    day: 22,
    month: "APR 2024",
    title: "Spring Training",
    description:
      " April 22-May 20 A-day mornings: 6:00-7:15am in the Maroon Gym  (technique, tumbling, conditioning)",
  },
  {
    day: 4,
    month: "MAY 2024",
    title: "Hip Hop Choreography",
    description: "Hip Hop choreography with Maddie Wood Larsen from 3-7pm ",
  },
  {
    day: 6,
    month: "JUN 2024",
    title: "Epic Camp",
    description:
      "June 6th-7th (St. George - we would travel on the 5th & return home the evening of the 7th) OR June 10th-11th (Murray) *will be determined by parent vote.",
  },
  {
    day: 22,
    month: "MAY 2024",
    title: "No Practice/Moratorium",
    description:
      "We will not have practice from May 20th-31st, June 17-21st and July 1st-20th",
  },
  {
    day: 24,
    month: "JUN 2024",
    title: "Choreography",
    description:
      "June 24th-28th & July 22nd-26th (Mon-Fri). We will be learning 2 competition routines on these weeks and may have longer rehearsal times and an additional practice on Friday. ",
  },
  {
    day: 29,
    month: "JUL 2024",
    title: "Champion Week",
    description: "July 29th - August 2nd (Mon-Fri) (and more choreo)",
  },
  {
    day: 6,
    month: "AUG 2024",
    title: "Golf Tournament",
    description: "Annual Golf Tournament Fundraiser at Fox Hollow Golf Course",
  },
];

const dancers = [
  {
    ImageSrc: EllieActionshot,
    ImageAlt: "Ellie Harrison Action Shot",
  },
  {
    ImageSrc: HayleeActionshot,
    ImageAlt: "Haylee Lopez Action Shot",
  },
  {
    ImageSrc: MarinaActionshot,
    ImageAlt: "Marina Allen Action Shot",
  },
  {
    ImageSrc: BrynleeActionshot,
    ImageAlt: "Brynlee Harrison Action Shot",
  },
  {
    ImageSrc: TessaActionshot,
    ImageAlt: "Tessa Smith Action Shot",
  },
];
---

<Layout title="Auditions">
  <div class="pt-24">
    <PhotoCarouselContainer>
      {
        dancers.map((dancer) => (
          <PhotoCarousel
            ImageSrc={dancer.ImageSrc}
            ImageAlt={dancer.ImageAlt}
          />
        ))
      }
    </PhotoCarouselContainer>
  </div>
  <div class="relative bg-white">
    <div
      class="mx-auto max-w-md px-6 text-center sm:max-w-3xl lg:max-w-7xl lg:px-8"
    >
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Useful Links for Upcoming Auditions
      </p>

      <div class="mt-20">
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span
                    class="inline-flex items-center justify-center rounded-xl bg-primaryDark p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link text-white"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    >
                  </span>
                </div>
                <h3
                  class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900"
                >
                  Audition Application
                </h3>
              </div>
            </div>
          </div>
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span
                    class="inline-flex items-center justify-center rounded-xl bg-primaryDark p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link text-white"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    >
                  </span>
                </div>
                <h3
                  class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900"
                >
                  SSL Certificates
                </h3>
                <p class="mt-5 text-base leading-7 text-gray-600">
                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                  Et magna sit morbi lobortis.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span
                    class="inline-flex items-center justify-center rounded-xl bg-primaryDark p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link text-white"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    >
                  </span>
                </div>
                <h3
                  class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900"
                >
                  Simple Queues
                </h3>
                <p class="mt-5 text-base leading-7 text-gray-600">
                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                  Et magna sit morbi lobortis.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span
                    class="inline-flex items-center justify-center rounded-xl bg-primaryDark p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link text-white"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    >
                  </span>
                </div>
                <h3
                  class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900"
                >
                  Advanced Security
                </h3>
                <p class="mt-5 text-base leading-7 text-gray-600">
                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                  Et magna sit morbi lobortis.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span
                    class="inline-flex items-center justify-center rounded-xl bg-primaryDark p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-external-link text-white"
                      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"
                      ></path><path
                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                      ></path></svg
                    >
                  </span>
                </div>
                <h3
                  class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900"
                >
                  Powerful API
                </h3>
                <p class="mt-5 text-base leading-7 text-gray-600">
                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                  Et magna sit morbi lobortis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Schedule />
  <div class="mx-auto max-w-7xl px-6 sm:mt-5 lg:px-8 pb-10">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        PLAN AHEAD for the 2024-2025 Drill Year
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        *dates and times are subject to change based on choreographer & gym
        availability
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        **We will keep the same summer schedule of afternoon practice on Mondays
        from 3-6pm and morning practice Tuesday-Thursdays from 7-10am to allow
        for long weekends
      </p>
    </div>
  </div>
  {
    events.map((event) => (
      <EventsTimeline
        day={event.day}
        month={event.month}
        title={event.title}
        description={event.description}
      />
    ))
  }
</Layout>
