---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import showcase from "../assets/showcase-photo.jpg";
import miniChev from "../assets/mini-chev.jpg";
import endOfYear from "../assets/end-of-year-showcase.jpg";
import compPic from "../assets/comp-pic.jpg";
import statePic from "../assets/state-pic.jpg";
---

<Layout title="Events Page">
  <div class="bg-white py-48">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
        >
          Upcoming Events
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Join us for the exciting events we have lined up. We have a variety of
          competitions, showcases, and clinics, and we can't wait to see you
          there!
        </p>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={showcase}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Nov 8th, 2023</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                7:30pm
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   Competition Showcase
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Lone Peak Field House. Chevaliers will showcase their
                competition routines in costume. Guest judges will provide live
                feedback to prepare for competition season!
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={miniChev}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">TBD</time>
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   Mini Drill Clinic
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={compPic}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Dec 2nd, 2023</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                time TBD
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   Herriman Invitational Competition
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Herriman High School. Chevaliers will compete against other 6A
                schools in the state.
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={compPic}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Dec 16th, 2023</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                time TBD
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   UVU Invitational Competition
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Utah Valley University.Chevaliers will compete against other 6A
                schools in the state.
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={statePic}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Jan 17th, 2024</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                time TBD
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   REGION
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                American Fork High School. Chevaliers will compete against other
                6A schools in the state.
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={statePic}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Jan 30th, 2024</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                time TBD
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   STATE QUARTER FINALS
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Utah Valley University. Chevaliers will compete against other 6A
                schools in the state.
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={statePic}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Feb 1st, 2024</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                time TBD
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   STATE SEMI FINALS
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Utah Valley University. Chevaliers will compete against other 6A
                schools in the state.
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={statePic}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Feb 1st, 2024</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                time TBD
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   STATE FINALS
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Utah Valley University. Chevaliers will compete against other 6A
                schools in the state.
              </p>
            </div>
          </div>
        </article>
        <article class="flex flex-col items-start justify-start">
          <div class="relative w-full">
            <Image
              src={endOfYear}
              alt="Showcase Photo"
              class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            >
            </div>
          </div>
          <div class="max-w-xl">
            <div class="mt-8 flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"
                >Mar 13th, 2024</time
              >
              <p
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
              >
                7pm
              </p>
            </div>
            <div class="group relative">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                   End of Year Showcase
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                Lone Peak Field House. The 2023-2024 team will showcase their
                routines for the last time. The night will also include guest
                performances from local studios and be a tribute to our
                graduating seniors.
              </p>
            </div>
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>
</Layout>
