---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import event1 from "../assets/events/event-1.jpg";
import event2 from "../assets/events/event-2.jpg";
import event3 from "../assets/events/event-3.jpg";
import event4 from "../assets/events/event-4.jpg";
import event5 from "../assets/events/event-5.jpg";
import event6 from "../assets/events/event-6.jpg";
import event7 from "../assets/events/event-7.jpg";
import event8 from "../assets/events/event-8.jpg";
import event9 from "../assets/events/event-9.jpg";
import EventsLayout from "../layouts/EventsLayout.astro";

const events = [
  {
    title: "Competition Showcase",
    date: "Nov 8th, 2023",
    time: "7:30pm",
    description:
      "Lone Peak Field House. Chevaliers will showcase their competition routines in costume. Guest judges will provide live feedback to prepare for competition season!",
    imageSrc: event1,
    imageAlt: "Showcase Photo",
  },
  {
    title: "Herriman Invitational Competition",
    date: "Dec 2nd, 2023",
    time: "time TBD",
    description:
      "Herriman High School. Chevaliers will compete against other 6A schools in the state.",
    imageSrc: event2,
    imageAlt: "Showcase Photo",
  },
  {
    title: "UVU Invitational Competition",
    date: "Dec 16th, 2023",
    time: "time TBD",
    description:
      "Utah Valley University.Chevaliers will compete against other 6A schools in the state.",
    imageSrc: event3,
    imageAlt: "Showcase Photo",
  },
  {
    title: "Bountiful Invitational Competition",
    date: "Jan 5th, 2024",
    time: "time TBD",
    description:
      "Bountiful invitational at Bountiful high school. Solo competition will be Jan 5th and team competition will be Jan 6th",
    imageSrc: event4,
    imageAlt: "Showcase Photo",
  },
  {
    title: "REGION",
    date: "Jan 17th, 2024",
    time: "time TBD",
    description:
      "American Fork High School. Chevaliers will compete against other 6A schools in the state.",
    imageSrc: event5,
    imageAlt: "Showcase Photo",
  },
  {
    title: "STATE QUARTER FINALS",
    date: "Jan 30th, 2024",
    time: "time TBD",
    description:
      "Utah Valley University. Chevaliers will compete against other 6A schools in the state.",
    imageSrc: event6,
    imageAlt: "Showcase Photo",
  },
  {
    title: "STATE SEMI FINALS",
    date: "Feb 1st, 2024",
    time: "time TBD",
    description:
      "Utah Valley University. Chevaliers will compete against other 6A schools in the state.",
    imageSrc: event2,
    imageAlt: "Showcase Photo",
  },
  {
    title: "STATE FINALS",
    date: "Feb 1st, 2024",
    time: "time TBD",
    description:
      "Utah Valley University. Chevaliers will compete against other 6A schools in the state.",
    imageSrc: event8,
    imageAlt: "Showcase Photo",
  },
  {
    title: "End of Year Showcase",
    date: "Mar 13th, 2024",
    time: "7pm",
    description:
      "Lone Peak Field House. The 2023-2024 team will showcase their routines for the last time. The night will also include guest performances from local studios and be a tribute to our graduating seniors.",
    imageSrc: event9,
    imageAlt: "Showcase Photo",
  },
  {
    title: "Mini Drill Clinic",
    date: "Time TBD",
    time: "",
    description: "",
    imageSrc: event7,
    imageAlt: "Showcase Photo",
  },
];
---

<Layout title="Events Page">
  <div class="bg-white py-48">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
        >
          Upcoming Events
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Join us for the exciting events we have lined up. We have a variety of
          competitions, showcases, and clinics, and we can't wait to see you
          there!
        </p>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {
          events.map((event) => (
            <EventsLayout
              title={event.title}
              date={event.date}
              time={event.time}
              description={event.description}
              imageSrc={event.imageSrc}
              imageAlt={event.imageAlt}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
