---
import PhotoCarouselContainer from "../components/PhotoCarousel/PhotoCarouselContainer.astro";
import Layout from "../layouts/Layout.astro";
import comp1 from "../assets/gallery/competition/comp-1.jpg";
import comp2 from "../assets/gallery/competition/comp-2.jpg";
import comp3 from "../assets/gallery/competition/comp-3.jpg";
import comp4 from "../assets/gallery/competition/comp-4.jpg";
import sir2 from "../assets/gallery/sir-knight/sir-knight-2.jpg";
import sir1 from "../assets/gallery/sir-knight/sir-knight-1.jpg";
import sir3 from "../assets/gallery/sir-knight/sir-knight-3.jpg";
import sir4 from "../assets/gallery/sir-knight/sir-knight-4.jpg";
import sir5 from "../assets/gallery/sir-knight/sir-knight-5.jpg";
import football1 from "../assets/gallery/football/football-1.jpg";
import football2 from "../assets/gallery/football/football-2.jpg";
import football3 from "../assets/gallery/football/football-3.jpg";
import football4 from "../assets/gallery/football/football-4.jpg";
import football5 from "../assets/gallery/football/football-5.jpg";
import football6 from "../assets/gallery/football/football-6.jpg";
import football7 from "../assets/gallery/football/football-7.jpg";
import PhotoCarouselImage from "../components/PhotoCarousel/PhotoCarouselImage.astro";

const comp = [
  {
    ImageSrc: comp1,
    ImageAlt: "comp1",
  },
  {
    ImageSrc: comp2,
    ImageAlt: "comp2",
  },
  {
    ImageSrc: comp3,
    ImageAlt: "comp3",
  },
  {
    ImageSrc: comp4,
    ImageAlt: "comp4",
  },
];

const sir = [
  {
    ImageSrc: sir1,
    ImageAlt: "sir1",
  },
  {
    ImageSrc: sir2,
    ImageAlt: "sir2",
  },
  {
    ImageSrc: sir3,
    ImageAlt: "sir3",
  },
  {
    ImageSrc: sir4,
    ImageAlt: "sir4",
  },
  {
    ImageSrc: sir5,
    ImageAlt: "sir5",
  },
];

const football = [
  {
    ImageSrc: football1,
    ImageAlt: "football1",
  },
  {
    ImageSrc: football2,
    ImageAlt: "football2",
  },
  {
    ImageSrc: football3,
    ImageAlt: "football3",
  },
  {
    ImageSrc: football4,
    ImageAlt: "football4",
  },
  {
    ImageSrc: football5,
    ImageAlt: "football5",
  },
  {
    ImageSrc: football6,
    ImageAlt: "football6",
  },
  {
    ImageSrc: football7,
    ImageAlt: "football7",
  },
];
---

<Layout title="Gallery">
  <div class="mx-auto max-w-7xl mt-48 mb-5">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        SUMMER
      </h2>
    </div>
  </div>
  <PhotoCarouselContainer>coming soon</PhotoCarouselContainer>
  <div class="mx-auto max-w-7xl mt-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        FOOTBALL SEASON
      </h2>
    </div>
  </div>
  <PhotoCarouselContainer>
    {
      football.map((image) => (
        <PhotoCarouselImage
          ImageSrc={image.ImageSrc}
          ImageAlt={image.ImageAlt}
        />
      ))
    }
  </PhotoCarouselContainer>
  <div class="mx-auto max-w-7xl mt-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        SIR KNIGHT
      </h2>
    </div>
  </div>
  <PhotoCarouselContainer>
    {
      sir.map((image) => (
        <PhotoCarouselImage
          ImageSrc={image.ImageSrc}
          ImageAlt={image.ImageAlt}
        />
      ))
    }
  </PhotoCarouselContainer>
  <div class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        COMPETITION
      </h2>
    </div>
  </div>
  <PhotoCarouselContainer>
    {
      comp.map((image) => (
        <PhotoCarouselImage
          ImageSrc={image.ImageSrc}
          ImageAlt={image.ImageAlt}
        />
      ))
    }
  </PhotoCarouselContainer>
  <div class="mx-auto max-w-7xl mt-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Nationals
      </h2>
    </div>
  </div>
  <PhotoCarouselContainer>coming soon</PhotoCarouselContainer>
</Layout>
