---
import DirectoryTab from "../components/DirectoryTab.astro";
import Layout from "../layouts/Layout.astro";
import DrillCalendar from "../assets/documents/DrillCalendar.pdf";
import Nationals from "../assets/documents/Nationals.pdf";
import Register from "../assets/documents/RegisterMyAthlete.pdf";
import Attachment from "../components/Attachment.astro";
import Timeline from "../components/Timeline.astro";
import Schedule from "../components/Schedule.astro";
---

<Layout title="Parent Portal">
  <div
    class="flex min-h-full flex-col justify-center px-6 py-20 lg:px-8"
    id="submitButtonContainer"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Sign in to the Parent Portal
      </h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" method="POST" id="passwordForm">
        <div id="passwordPrompt">
          <div class="mt-2">
            <input
              id="passwordInput"
              name="password"
              type="password"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
              placeholder="Enter password"
            />
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primaryDark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
            id="submitButton">Sign in</button
          >
        </div>
      </form>
    </div>
  </div>
  <div id="protectedContent" class="mt-32 text-center px-10 hidden">
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <select
        id="tabs"
        name="tabs"
        class="block w-full rounded-md border-gray-300 focus:border-primary focus:ring-primary"
      >
        <option id="calendars" value="calendars" selected>Calendars</option>
        <option id="fee" value="fee">Fee Due Dates</option>
        <option id="nationals" value="nationals">Nationals</option>
        <option id="directory" value="directory">Drill Family Directory</option>
        <option id="schedule" value="schedule"
          >Summer Schedule for 2024-2025 team</option
        >
        <option id="register" value="register">Register My Athlete</option>
      </select>
    </div>
    <div class="hidden sm:block">
      <nav
        class="isolate flex divide-x divide-gray-200 rounded-lg shadow"
        aria-label="Tabs"
      >
        <a
          href="#"
          class="tab text-gray-500 bg-white group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Calendars</span>
          <span
            aria-hidden="true"
            class="bg-primary absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Fee Due Dates</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Nationals</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Drill Family Directory</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Summer Schedule for 2024-2025 team</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
        <a
          href="#"
          class="tab text-gray-500 bg-white rounded-r-lg group relative min-w-0 flex-1 overflow-hidden py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
        >
          <span>Register My Athlete</span>
          <span
            aria-hidden="true"
            class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
        </a>
      </nav>
    </div>
    <div class="p-3 mt-5">
      <div id="calendars" class="tab-content">
        <div class="md:hidden sm:block">
          <Attachment
            docSize="438kb"
            docTitle="DrillCalendar"
            docUrl={DrillCalendar}
          />
        </div>
        <div class="md:block hidden">
          <iframe src={DrillCalendar} width="100%" height="500px"></iframe>
        </div>
      </div>
      <div id="fee" class="tab-content hidden">
        <Timeline />
      </div>
      <div id="nationals" class="tab-content hidden">
        <div class="md:hidden sm:block">
          <Attachment docSize="991kb" docTitle="Nationals" docUrl={Nationals} />
        </div>
        <div class="md:block hidden">
          <iframe src={Nationals} width="100%" height="500px"></iframe>
        </div>
      </div>
      <div id="directory" class="tab-content hidden">
        <DirectoryTab />
      </div>
      <div id="schedule" class="tab-content hidden pb-5">
        <Schedule />
      </div>
      <div id="register" class="tab-content hidden">
        <div class="md:hidden sm:block">
          <Attachment
            docSize="49kb"
            docTitle="RegisterMyAthlete"
            docUrl={Register}
          />
        </div>
        <div class="md:block hidden">
          <iframe src={Register} width="100%" height="500px"></iframe>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("astro:after-swap", () => {
      setupListeners();
    });

    const correctPassword = "1234";
    const form = document.getElementById("passwordForm");
    if (form) {
      form.removeEventListener("submit", checkPassword);
      form.addEventListener("submit", checkPassword);
    }
    function checkPassword(event: Event) {
      event.preventDefault();
      console.log("checkPassword is triggered");

      const inputElement = document.getElementById("passwordInput");
      const inputPassword = (inputElement as HTMLInputElement).value;
      if (inputPassword === correctPassword) {
        const passwordPrompt = document.getElementById("passwordPrompt");
        const protectedContent = document.getElementById("protectedContent");
        const submitButtonContainer = document.getElementById(
          "submitButtonContainer"
        );
        if (passwordPrompt && protectedContent && submitButtonContainer) {
          passwordPrompt.style.display = "none";
          protectedContent.style.display = "block";
          submitButtonContainer.style.display = "none";
        }
      } else {
        alert("Incorrect password. Please try again.");
      }
    }
    const tabs = document.querySelectorAll(".tab");
    const contents = document.querySelectorAll(".tab-content");
    tabs.forEach((tab, index) => {
      tab.removeEventListener("click", tabClick);
      tab.addEventListener("click", tabClick);

      function tabClick() {
        tabs.forEach((t) => t.classList.remove("text-gray-900", "bg-white"));
        tabs.forEach((t) => t.children[1].classList.remove("bg-primary"));
        tabs.forEach((t) => t.children[1].classList.add("bg-transparent"));
        contents.forEach((c) => c.classList.add("hidden"));
        tab.classList.add("text-gray-900", "bg-white");
        tab.children[1].classList.remove("bg-transparent");
        tab.children[1].classList.add("bg-primary");
        contents[index].classList.remove("hidden");
      }
    });

    const selectElement = document.getElementById("tabs");
    if (selectElement) {
      selectElement.removeEventListener("change", selectChange);
      selectElement.addEventListener("change", selectChange);

      function selectChange(event) {
        const selectedValue = (event?.target as HTMLSelectElement)?.value;
        contents.forEach((content) => {
          if (content.id === selectedValue) {
            content.classList.remove("hidden");
          } else {
            content.classList.add("hidden");
          }
        });
      }
    }
  </script>
</Layout>
