---
import JerraHeadshot from "../assets/headshots/jerra-stout-headshot.webp";
import JerraActionshot from "../assets/actionshots/jerra-stout-actionshot.jpg";
import HaileyHeadshot from "../assets/headshots/hailey-bastian-headshot.webp";
import NatalieHeadshot from "../assets/headshots/natalie-zippi-headshot.webp";
import SarahHeadshot from "../assets/headshots/sarah-murphy-headshot.webp";
import SarahActionshot from "../assets/actionshots/sarah-murphy-actionshot.jpg";
import NatalieActionshot from "../assets/actionshots/natalie-zippi-actionshot.jpg";
import HaileyActionshot from "../assets/actionshots/hailey-bastian-actionshot.jpg";
import Card from "./Card.astro";

export const coaches = [
  {
    title: "Sarah Murphy",
    role: "Co-Head Coach",
    imageSrcHead: SarahHeadshot,
    imageSrcAction: SarahActionshot,
    body: "Sarah Murphy is an accomplished and talented dancer, leader, and teacher who has achieved recognition in the space throughout her life. She received intense training at Hi-Light Dance Academy in Alpine, Utah, in ballet, jazz, lyrical, hip-hop, and contemporary dance. She has been choreographing and teaching award winning routines throughout Utah and Idaho for 10+ years.  She danced on the drill team at Lone Peak High School from 2007-2010 where she served as Captain for two years and helped lead the team to three region championships, and a top 3 placement at the UHSAA State Drill Team finals. Sarah is a staff member for EPIC Productions- Drill, Dance, and Cheer and has taught at numerous studios throughout the state including Hi-Light Dance Academy. She has been coaching drill team for five years and brings with her a great passion and love for the sport of drill, as well as for the students she coaches. Sarah's most important work is happening in her home as she raises her children Norah (7), Samson (5), and Malcolm (3) alongside her husband McKay.",
    href: "sarah",
  },
  {
    title: "Jerra Stout",
    role: "Co-Head Coach",
    imageSrcHead: JerraHeadshot,
    imageSrcAction: JerraActionshot,
    body: "Jerra Stout grew up training at the award-winning Center Stage Performing Arts Studio in Orem, UT specializing in ballet, jazz, contemporary, and hip hop. Jerra was a member and captain of the Lone Peak Chevaliers and won the title of Miss Dance Drill Utah in 2009. She was a 3-year member of the national-winning BYU Cougarette dance team in college and won four national championships while on the team. Jerra then coached the Bingham Minerettes from 2015-2018 before moving to Texas and Washington where she taught dance at local studios and judged drill competitions in both states. Jerra continues to be a freelance teacher and choreographer for various high school teams and studios across the country and her choreography continues to win many 1st place and Choreography Awards. Jerra is a mom of 2 and has recently moved back to Utah after living away for 5 years for her husband’s active-duty military service. This will be her 2nd year coaching the Lone Peak Chevaliers and she's excited to continue coaching the team with some of her former teammates!",
    href: "jerra",
  },
  {
    title: "Natalie Zippi",
    role: "Assistant Coach",
    imageSrcHead: NatalieHeadshot,
    imageSrcAction: NatalieActionshot,
    body: "Natalie Zippi began formally dancing when she was three years old. She continued studio dance, with an emphasis in ballet, through her high school years. Natalie was a member of the Lone Peak drill team from 2008-2011 and served as an officer and captain as an upperclassman. Natalie graduated from Brigham Young University with a BA in Public Relations. While at BYU Natalie participated in several upper-level ballet classes and worked as Company Director at United Dance Center in Saratoga Springs. Following graduation Natalie pursued a career in New York City with Hearst Magazine Group and contemporary designer label, VEDA. While in New York, she continued her dance education with a range of classes at Broadway Dance Center. Upon her return from New York, Natalie began teaching ballet at Hi-Light Dance Academy. When she isn't working Natalie loves to spend time with her 8 nieces and nephews, volunteer with the Utah CASA program, and travel with friends. ",
    href: "natalie",
  },
  {
    title: "Hailey Bastian",
    role: "Assistant Coach",
    imageSrcHead: HaileyHeadshot,
    imageSrcAction: HaileyActionshot,
    body: "Hailey is from Mesa, Arizona where she grew up training in studio dance for all styles since the age of 3. In high school she was a member and captain of the Mountain View Toro Varsity Pom Team winning 6 state titles along with several national titles! After graduating, Hailey became a member of Continuum, a pre-professional dance company here in Utah County. She absolutely loves being part of this company, and is so grateful to have the opportunity to continue pursuing her love of dance. Hailey loves her journey of continuing to grow, teach, and coach the Chevaliers!",
    href: "hailey",
  },
];
---

<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8" transition:name="role">
    <div class="mx-auto max-w-2xl sm:text-center" transition:name="title">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        MEET THE COACHES
      </h2>
    </div>
    <div>
      <div transition:name="body">
        <ul
          role="list"
          class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 lg:max-w-4xl lg:gap-x-8 xl:max-w-none"
        >
          {
            coaches.map((coach) => (
              <Card
                transition:name="img"
                title={coach.title}
                role={coach.role}
                imageSrc={coach.imageSrcHead}
                body={coach.body}
                href={coach.href}
              />
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
