---
import { Image } from "astro:assets";

import allan from "../assets/families/allan-family.jpg";
import allen from "../assets/families/allen-family.jpg";
import arnold from "../assets/families/arnold-family.jpg";
import cormier from "../assets/families/cormier-family.jpg";
import green from "../assets/families/green-family.jpg";
import harrison from "../assets/families/harrison-family.jpg";
import hilton from "../assets/families/hilton-family.jpg";
import jones from "../assets/families/jones-family.jpg";
import krog from "../assets/families/krog-family.jpg";
import lebaron from "../assets/families/lebaron-family.jpg";
import lopez from "../assets/families/lopez-family.jpg";
import maughan from "../assets/families/maughan-family.jpg";
import mccracken from "../assets/families/mcckraken-family.jpg";
import paskett from "../assets/families/paskett-family.jpg";
import smith from "../assets/families/smith-family.jpg";
import sonntag from "../assets/families/sonntag-family.jpg";
import taylor from "../assets/families/taylor-family.jpg";
import wallace from "../assets/families/wallace-family.jpg";
import ward from "../assets/families/ward-family.png";
import dahl from "../assets/families/dahl-family.jpg";
import esplin from "../assets/families/esplin-family.jpg";
import smithB from "../assets/families/smith-b-family.jpg";
import leroy from "../assets/families/leroy-family.jpg";
import favicon from "../assets/favicon.svg";

const families = [
  {
    family: "Allan Family",
    mom: "Jennifer Allan",
    dad: "Michael Allan",
    dancer: "Aubrey Allan",
    image: allan,
  },
  {
    family: "Allen Family",
    mom: "Kristin Allen",
    dad: "Brandon Allen",
    dancer: "Marina Allen",
    image: allen,
  },
  {
    family: "Arnold Family",
    mom: "Mackenzie Arnold",
    dad: "Brig Arnold",
    dancer: "Cate Arnold",
    image: arnold,
  },

  {
    family: "Cormier Family",
    mom: "Sheryl Cormier",
    dad: "Lee Cormier",
    dancer: "Brittney Cormier",
    image: cormier,
  },
  {
    family: "Dahl Family",
    mom: "Alicia Dahl",
    dad: "Eric Dahl",
    dancer: "Micah Dahl",
    image: dahl,
  },
  {
    family: "Esplin Family",
    mom: "Shannon Esplin",
    dad: "Jeff Esplin",
    dancer: "Kate Esplin",
    image: esplin,
  },
  {
    family: "Green Family",
    mom: "Aleece Green",
    dad: "Jeremy Green",
    dancer: "Aiden Green",
    image: green,
  },
  {
    family: "Harrison Family",
    mom: "Toni Harrison",
    dad: "Mason Harrison",
    dancer: "Ellie & Brynlee Harrison (sisters)",
    image: harrison,
  },

  {
    family: "Hilton Family",
    mom: "Alicia Hilton",
    dad: "Glen Hilton",
    dancer: "Serena Hilton",
    image: hilton,
  },
  {
    family: "Jones Family",
    mom: "Melissa Jones",
    dad: "Brady Jones",
    dancer: "Avery Jones",
    image: jones,
  },
  {
    family: "Krog Family",
    mom: "Angie Krog",
    dad: "Mike Krog",
    dancer: "Katie Krog",
    image: krog,
  },
  {
    family: "LeBaron Family",
    mom: "Sarah LeBaron",
    dad: "Mike LeBaron",
    dancer: "Isabella (Bella) LeBaron",
    image: lebaron,
  },
  {
    family: "LeRoy Family",
    mom: "Andrea LeRoy",
    dad: "Brandon LeRoy",
    dancer: "Gwen LeRoy",
    image: leroy,
  },
  {
    family: "Lopez Family",
    mom: "",
    dad: "Scott Lopez",
    dancer: "Haylee Lopez",
    image: lopez,
  },
  {
    family: "Maughan Family",
    mom: "Nicole Maughan",
    dad: "Weston Maughan",
    dancer: "Mikayla Maughan",
    image: maughan,
  },
  {
    family: "McCracken Family",
    mom: "Liana McCracken",
    dad: "Miles McCracken",
    dancer: "Camille McCracken",
    image: mccracken,
  },
  {
    family: "Paskett Family",
    mom: "Shelley Paskett",
    dad: "John Paskett",
    dancer: "Emma Paskett",
    image: paskett,
  },
  {
    family: "Smith Family",
    mom: "Lindsay Smith",
    dad: "Colton Smith",
    dancer: "Tessa Smith",
    image: smithB,
  },
  {
    family: "Smith Family",
    mom: "Lynsie Smith",
    dad: "Nathan Smith",
    dancer: "Tessa Smith",
    image: smith,
  },

  {
    family: "Sonntag Family",
    mom: "Pollina Sonntag",
    dad: "David Sonntag",
    dancer: "Kaitlyn Sonntag",
    image: sonntag,
  },

  {
    family: "Taylor Family",
    mom: "Chandler Taylor",
    dad: "Chip Taylor",
    dancer: "Mayson Taylor",
    image: taylor,
  },
  {
    family: "Wallace Family",
    mom: "Jennie Wallace",
    dad: "Landon Wallace",
    dancer: "Quinlan Wallace",
    image: wallace,
  },
  {
    family: "Ward Family",
    mom: "Tara Ward",
    dad: "Jon Ward",
    dancer: "Kate & Sophie Ward (sisters)",
    image: ward,
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul
      role="list"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {
        families.map((family, index) => (
          <>
            <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
              <div class="flex flex-1 flex-col p-1">
                <button
                  class="alert"
                  data-index={index}
                  data-image={family.image}
                >
                  <Image
                    class="mx-auto flex-shrink-0 rounded-lg h-96 object-cover"
                    src={family.image}
                    alt={family.family}
                  />
                </button>
                <h3 class="mt-6 text-sm font-medium text-gray-900">
                  {family.family}
                </h3>
                <dl class="mt-1 flex flex-grow flex-col justify-between">
                  <dd class="text-sm text-gray-500">{family.dancer}</dd>
                </dl>
              </div>
              <div />

              <div
                class="relative z-10 hidden"
                id={`myModal-${index}`}
                aria-labelledby="modal-title"
                role="dialog"
                aria-modal="true"
              >
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
                <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                  <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">
                    <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all ">
                      <div class="absolute right-0 top-0  pr-4 pt-4 block">
                        <button
                          type="button"
                          id="closeModalButton"
                          class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                        >
                          <span class="sr-only">Close</span>
                          <svg
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"
                            />
                          </svg>
                        </button>
                      </div>
                      <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                          <h3
                            class="text-base font-semibold leading-6 text-gray-900"
                            id="modal-title"
                          />
                          <span class="text-2xl">{family.family}</span>
                          <br />
                          <span class=" text-gray-700">{family.dad}</span>
                          <br />
                          <span class=" text-gray-700">{family.mom}</span>
                          <div class="mt-2">
                            <Image
                              class="mx-auto rounded-2xl flex-shrink-0 w-auto max-h-[500px] object-fit"
                              src={family.image}
                              alt={family.family}
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </>
        ))
      }
    </ul>

    <script>
      const buttons = document.querySelectorAll("button.alert");

      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const index = button.getAttribute("data-index");
          const modal = document.getElementById(`myModal-${index}`);
          if (modal) {
            modal.style.display = "block";
          }
        });
      });

      const closeModalButtons = document.querySelectorAll(
        "[id^=closeModalButton]"
      );
      closeModalButtons.forEach((button) => {
        button.addEventListener("click", () => {
          const parentModal = button.closest("[id^=myModal]");
          if (parentModal) {
            (parentModal as HTMLElement).style.display = "none";
          }
        });
      });

      //close modal when clicking outside of modal

      window.addEventListener("click", (event) => {
        const openedModal = document.querySelector(
          "[id^=myModal][style='display: block;']"
        );
        if (event.target === openedModal) {
          if (openedModal) {
            (openedModal as HTMLElement).style.display = "none";
          }
        }
      });
    </script>
  </body>
</html>
